body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    height: 100vh;
}

.container {
    background: rgba(175, 172, 172, 0.948);
    color: white;
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    background: #ff0055;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ff3366;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}
.footer-text {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    z-index: 1000;
    border-radius: 12px;
}